.profile {
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 140%;
    color: $colorBlack23;

    @media (max-width: $tabletSize_Big) {
      font-size: 28px;
    }
  }

  &__exit {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: transparent;

    @media (max-width: $tabletSize_Big) {
      display: none;
    }

    h5 {
      font-size: 20px;
      line-height: 140%;
      color: $colorBlack51;
    }

    img {
      width: 19px;
      height: 20px;
    }

    &_mobile {
      display: flex;
      align-items: center;
      gap: 12px;
      background-color: transparent;
      display: none;
      margin-top: 100px;
      margin-bottom: -52px;

      @media (max-width: 645px) {
        display: flex;
      }

      h5 {
        font-size: 20px;
        line-height: 140%;
        color: $colorBlack51;
      }

      img {
        width: 19px;
        height: 20px;
      }
    }
  }

  &__content {
    display: grid;
    gap: 4%;
    grid-template-columns: 29% 67%;
    grid-template-rows: auto 1fr;
    margin-top: 60px;
    margin-bottom: -60px;

    @media (max-width: $tabletSize_Big) {
      grid-template-columns: auto 1fr;
      gap: 24px;
      margin-top: 70px;
      margin-bottom: -80px;
    }

    @media (max-width: 645px) {
      grid-template-columns: 1fr;
      margin-top: 28px;
      position: relative;
      padding-top: 82px;
    }

    @media (max-width: $mobileSize) {
      margin-top: 28px;
      margin-bottom: -52px;
    }
  }

  .menu {
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    padding: 15px 16px;
    min-width: 244px;

    background-color: #fff;
    box-shadow: 0 12px 28px rgba(177, 177, 177, 0.2);
    border-radius: 12px;

    @media (max-width: 645px) {
      padding: 6px 16px 16px 16px;
      min-width: 200px;
      grid-row: inherit;
      height: 58px;
      transition: height 0.3s ease;
      position: absolute;
      width: 100%;

      &::after {
        content: '';
        position: absolute;
        background-image: url('../../assets/icons/arrow-bold.svg');
        background-repeat: no-repeat;
        background-position: center;
        width: 32px;
        height: 32px;
        border-radius: 6px;
        top: 12px;
        right: 32px;
        transition: transform 0.3s ease;
      }

      &::before {
        content: '';
        position: absolute;
        background-color: rgba(23, 23, 23, 0.05);
        width: 32px;
        height: 32px;
        top: 12px;
        right: 32px;
        border-radius: 6px;
      }
    }

    &_active {
      &::after {
        transform: rotate(90deg);
      }
    }

    &__item {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 14px;
      padding: 15px 22px;

      background-color: transparent;
      border-radius: 8px;
      transition: background-color 0.3s ease, color 0.2s ease;

      @media (max-width: $tabletSize_Big) {
        padding: 14px 20px;
      }

      @media (max-width: 645px) {
        padding: 12px 10px;
        opacity: 0;
        visibility: hidden;
        order: 2;
        transition: visibility 0.3s ease, opacity 0.3s ease;
      }

      &:hover {
        color: $colorBlue;
      }

      &_active {
        color: $colorBlue;
        background-color: rgb(247, 247, 247);

        @media (max-width: 645px) {
          visibility: inherit;
          opacity: 1;
          order: 1;
          background-color: #fff;
        }
      }

      img {
        width: 19px;
        height: 20px;
      }

      span {
        font-size: 17px;
        line-height: 150%;

        @media (max-width: $tabletSize_Big) {
          font-size: 15px;
        }
      }
    }
  }
}