.subscription__menu-item {
  font-size: 17px;
  line-height: 150%;

  a {
    display: block;
    color: $colorBlack23;

    &:hover {
      color: $colorBlue;
    }
  }

  @media (max-width:$tabletSize_Big) {
    padding: 12px 0 0 22px;
    font-size: 17px;
    line-height: 150%;

    a {
      color: $colorBlack7;
    }
  }
}