.faq {
  .content {
    margin-top: 41px;

    @media (max-width: $tabletSize_Big) {
      margin-top: 32px;
    }

    @media (max-width: $mobileSize) {
      margin-top: 28px;
    }
  }

  .button {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    @media (max-width: $tabletSize_Big) {
      margin-top: 32px;
    }

    @media (max-width: $mobileSize) {
      margin-top: 28px;
    }
  }
}